body {
	background-image: url("http://www.tech12group.com/images/background.jpg");
	background-size: cover;
	text-align: center;
	background-position: center;
		color: white;

}


.container-fluid {
	margin-left: auto;
    margin-right: auto;
}

.row{
    overflow: hidden; 
    text-align: center;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

h1 {
	font-size: 40px;
	font-family: 'Questrial', sans-serif;


}

h2 {
padding-top: 20px;
margin-top: 20px;
font-family: 'Playball', cursive;

}

div {
	padding-right: 20px;
}
.fancy {
	color: white;
	font-size: 20px;
	font-family: 'Dancing Script';

}

#education {
	background: #0a1019;
	font-family: 'Fira Sans Extra Condensed', sans-serif;


}

#work {
	background: #0a1019;
	font-family: 'Fira Sans Extra Condensed', sans-serif;


}

#fashion {
	background: #091323;
	padding-left: 70px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
   position: absolute;
   top: 50%;
   z-index: 5;
   display: inline-block;
   margin-right: -10px;
   margin-left: -50px;
}

.snug {
	width: 200px;
	height: 200px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px
}



.carousel-control.left, .carousel-control.right {
    background-image: none
}
img {
	padding-top: 10px;
}

.navbar-inverse {
	background: #0b2144;
	color: white;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

